$secondary-color:#0000ff;
$primary-color:#f4f4f4;
$tetiary-color: #ff6f61;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

.navbar {
    background-color:$secondary-color;
    display: flex;
    align-items: center;
    list-style: none;
    justify-content: center;
    justify-content: space-around;
    position: fixed;
    width: 100%;


    .logo {
    // padding-left: 10px;
    margin-left: 150px;
  }

   .nav-lists{
    display: flex;
    list-style: none;
    color: $primary-color;
    gap: 20px;
    text-decoration: none;
    margin-left: -50px;

    .nav-list a{
      color: $primary-color;
      text-decoration: none;
    }

  }


   .nav_link_btn {
    color: $primary-color;
    text-decoration: none;
    display: flex;
    background-color: $tetiary-color;
    width:100px;
    height: 30px;
    padding-top:5px;
    padding-left:18px;
    text-align: center;
    margin-right: 100px;
  }
}

.page-writer {
  color: $secondary-color;
  position: absolute;
  text-align: center;
  right:50px;
  left: 5px;
  top: 140px;
  font-weight: light;
  font-size: 30px;
  text-shadow:1px 1px 2px black;
}

.my-work {
  position: absolute;
  text-align: center;
  background-color: $tetiary-color;
  color: $primary-color;
  width: 200px;
  height: 40px;
  padding-top: 10px;
  text-decoration: none;
  left: 640px;
  top: 300px;
  right: 50px;
}

.skill {
  color: $secondary-color;
  margin: 20px 20px;
  text-align: center;
}

  .skill-section {
  display: flex;
  justify-content: center;
  gap: 100px;

  .skill-head {
    margin: 20px 20px;
    color: $secondary-color;
  }


  .skill-section-1,.skill-section-2,.skill-section-3{
    text-align: center;
    box-shadow: 5px 5px 5px 5px rgb(0, 0, 0,0.3);
    border-radius: 8px;
    padding: 20px 20px 20px 20px;
  }

}

.project-head {
  margin-top: 90px;
  margin-bottom: 50px;
  text-align: center;
}

.product-section {
  display: flex;
  justify-content: space-between;
  justify-content: center;
  gap: 100px;
  text-align: center;
  // box-shadow: 5px 5px 5px 5px rgb(0, 0, 0,0.3);

 .product-head {
  margin-top: 30px;
  margin-bottom: 20px;
  color:$secondary-color;
 }

 .product-section-1,.product-section-2,.product-section-3 {
  text-align: center;
  box-shadow: 5px 5px 5px 5px rgb(0, 0, 0,0.3);
  border-radius: 8px;
  padding: 20px 20px 20px 20px;
 }

}

#contact {
  background-color:white;
  justify-items: center;
  box-shadow: 1px 1px 5px 5px rgb(0, 0, 0,0.3);
  justify-self: center;
  margin-top: 150px;
  margin-bottom: 150px;
  width: 50%;
  padding: 20px 20px;
}
  .container-contact-1{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
  }
    .container-contact {
      color: $secondary-color;
    }

%btn-style{
  width: 500px;
  padding: 5px 5px;
  margin-top: 10px;
  margin-bottom: 20px;
}

  %btn-style-1{
    color: $secondary-color;
    margin-bottom: 5px;
    margin-top: 10px;
  }


.your-name,.your-email,.your-message {
  @extend %btn-style-1;
  }

#your-name,#your-email,.your-message {
@extend %btn-style;
}

.submit-button{
    text-align: center;
    margin-top: 20px;
}
  .submit-btn{
    background-color: $tetiary-color;
  color: $primary-color;
  text-align: center;
  width: 125px;
  height: 30px;
  border-radius: 5px;
  box-shadow: 5px 5px 5px;
  }


.closing-tag {
  background-color: $secondary-color;
  display: flex;
  justify-content: space-between;
  justify-content: space-evenly;
  padding: 30px 30px;

  %btn-style{
    list-style: none;
    color: $primary-color;
    text-decoration: none;
    justify-content:space-between;
    gap: 8px;
     margin-right: 50px;
  }

  .closing-webs{
    display: flex;
    list-style: none;
    justify-content:space-around;
    margin-top: 25px;
  }


 .closing-webs a{
  @extend %btn-style;
  }
 
   .closing-links {
      list-style: none;
      text-decoration: none
   }

  .closing-links a {
   @extend %btn-style;
  color: $primary-color;
  
  }

  .trade-mark {
    color: $primary-color;
    margin-top: 25px;
  }
}

